@import './config';
body {
    background: url("../img/section.jpg") center center / cover no-repeat;
}
a{
    text-decoration: none;
    color: #fff;
}
.sign_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
    a {
        img {
            max-width: 170px;
            vertical-align: middle;
            border-style: none;
        }
        margin-bottom: 40px;
    }
    &_form {
        border-top: solid 2px #8f00ff;
        background-color: #28282d;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        position: relative;
        width: 100%;
        max-width: 400px;
        border-radius: 4px;
        overflow: hidden;
        &_group {
            display: flex;
            justify-content: center;
            position: relative;
            margin-bottom: 20px;
            width: 100%;
            input {
                border-radius: 4px;
                padding: 10px;
                @include transition2;
                &:hover {
                    border-color: #8f00ff;
                }
            }
        }
        &_remember {
            color: aliceblue;
            width: 100%;
            text-align: left;
        }
        &_btn {
            @include btn;
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.sign_text {
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    font-family: 'Open Sans', sans-serif;
}